* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #333;
}
body, html {
  overflow-x: hidden;
  width: 100vw;background-color: #f8f8f8;
}
.incheon_container {
    width: 1280px;
    display: block;
    height: 100vh;
}
.incheon_main_wrap {
    background-image: url("inchoen-main.jpg");
    background-size: 78%;  
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fff;
   
    width: 100vw; 
  height: 100vh; 
}
.in_title > h2 {
    font-size: 60px;
    font-weight: 300;
}
.in_title > h1 {
    font-size: 80px;
    color: #1967BD;
}
.in_title{padding-left: 58px;
    padding-top: 214px;}

.design_system{padding-inline: 58px;display: block;width: 100%;}
.sub_title{color: #1967BD;}
.color_block p{display: flex;color: #fff;}
.block_one{background-color: #0B417D;}