@font-face {
    font-family: 'Pretendard-Regular';
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Pretendard-Regular', sans-serif;
    overflow-x: hidden;
}

.main_wrap {
    background: url("../img/koshika/01_ob_bg.jpg") 0 0 no-repeat;
    width: 100%;
    height: 801px;
    background-size: cover;
}
.main {
    display: block;
    width: 644px;
    margin: 0 auto;
    padding-top: 7%;
}
.content_wrap {
    display: block;
    width: 100%;
    margin: 14% 0;
}
.content {
    width: 1350px;
    margin: 0 auto;
    display: flex;
}
.bottle {
    width: 451px;
}
.con_txt {
    width: 900px;
    margin-top: 15%;
}
.con_txt > img {
    padding-bottom: 5%;
}
.con_txt > p {
    line-height: 42px;
    box-sizing: border-box;
    font-size: 18px;
    color: #2f2f2f;
    font-weight: lighter;
    width: 100%;
    letter-spacing: -1px;
    padding-left: 10%;
}
.pink {
    box-shadow: inset 0 -8px 0 #ca9797;
}
.pamphlet_wrap {
    display: block;
    width: 100%;
    background: url("../img/koshika/03_bg.jpg") 0 0 no-repeat;
    background-size: cover;
}
.pamphlet {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 11%;
}
.pamphlet > img:first-child {
    padding-top: 10px;
}
.pamphlet > img:last-child {
    display: block;
}
.logo_wrap {
    display: block;
    width: 100%;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo > img {
    display: block;
}
.pink_logo, .brown_logo {text-align: center;padding-block: 30px;
width: 50%;}
.pink_logo {
    background-color: #ccb1a8;
}
.logo > img:first-child {}
.pink_logo > img:last-child {}

/*mobile*/
@media screen and (min-width:320px) and (max-width: 430px) {
    .main_wrap {
        height: 600px;
    }
    .main > img {
        width: 374px;
        margin-top: 18%;
    }
    .content {
        display: block;
        width: 95%;
    }
    .bottle > img {
        width: 67%;
        margin: 0 auto;
        display: block;
        padding-top: 12%;
    }
    .con_txt {
        width: 100%;
        max-width: 100%;
    }
    .con_txt > img {
        display: none;
    }
    .con_txt > p {
        padding: 20px 8px;
        max-width: 100%;
        line-height: 33px;
    }
    .pamphlet_wrap {
        /* height: 300px; */
    }
 .pamphlet {
  height: auto;          
  padding-top: 11%;        
  display: flex;
  justify-content: space-between;
         align-items: flex-start; 
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  position: relative;
  left: 8px;
}

.pamphlet > img:first-child,
.pamphlet > img:last-child {
  max-width: 35%;         
  height: auto;           
  display: block;         
  margin: 0;
  padding: 0;
}

.pamphlet > img:last-child {
  max-width: 60%;          /* 너비 비율 가감 가능 */
}
 .pink_logo, .brown_logo{padding: 10px 10px;}
    .brown_logo>img, .pink_logo>img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;/}
    .pamphlet > img:first-child {
        padding-top: 1%;
    }
}
