@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    font-family: 'Pretendard';
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #333;

}
body {
    background-color: #FEFAF6;
    overflow-x: hidden;
}
.ppt_hd {
    display: flex;
    padding-bottom: 15px;
    margin: 10px 30px;
    border-bottom: 1px solid #000;
}
.ppt_title {
    display: flex;
    align-items: flex-start;
}
.ppt_title > h1 {
    font-weight: 700;
    font-size: 110px;
}

.sub_title_wrap {
    margin-top: 20px;
    margin-left: 20px;
}
.sub_title_wrap > span {
    font-size: 40px;
    font-weight: 200;
}
.ppt_color_wrapa {
    padding-top: 10px;
    margin-left: 2px;
}
/* .ppt_header_wrap {
    width: 100%;
    display: block;
}
.ppt_hd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 360px;
    gap: 30px;
} */
.pt_c {
    width: 25px;
    height: 25px;
}
.ppt_color {
    display: flex;
    gap: 8px;
}
.ppt_color > li:nth-child(1) > .pt_c {
    background: #42307C;
    background: linear-gradient(90deg,rgba(66, 48, 124, 1) 0%, rgba(63, 71, 151, 1) 100%);
}
.ppt_color > li:nth-child(2) > .pt_c {
    background: #42307C;
    background: linear-gradient(90deg, rgba(66, 48, 124, 1) 0%, rgba(133, 99, 201, 1) 83%);
}
.ppt_color > li:nth-child(3) > .pt_c {
    background: #8563C9;
    background: linear-gradient(90deg, rgba(133, 99, 201, 1) 0%, rgba(197, 181, 229, 1) 100%);
}
.ppt_color > li:nth-child(4) > .pt_c {
    background: #293077;
    background: linear-gradient(90deg, rgba(41, 48, 119, 1) 0%, rgba(41, 166, 223, 1) 100%);
}
.ppt_color > li:nth-child(5) > .pt_c {
    background: #29A6DF;
    background: linear-gradient(90deg, rgba(41, 166, 223, 1) 0%, rgba(157, 215, 241, 1) 100%);
}
.ppt_color > li:nth-child(6) > .pt_c {
    background: #545454;
    background: linear-gradient(90deg, rgba(84, 84, 84, 1) 0%, rgba(14, 14, 14, 1) 100%);
}
.ppt_color > li:nth-child(7) > .pt_c {
    background: #75727C;
    background: linear-gradient(90deg, rgba(117, 114, 124, 1) 0%, rgba(177, 175, 181, 1) 100%);
}

/* .ppt_title{line-height: 58px;display: block;}
.ppt_title > h1 {
    font-size: 90px;
    text-align: center;
}
.ppt_title > h3 {
    font-weight: 400;
    text-align: center;
    font-size: 26px;
} */

/* proposal */
.ppt_section {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-inline: 30px;
    margin-block: 70px;
}
.pro_img {
    width: 325px;
    height: auto;
    margin-top: 20px;
}
.pro_date {
    font-weight: 200;
    font-size: 18px;
}
.pro_title {
    font-size: 20px;
}
.intro_txt {
    width: 520px;
    font-size: 14px;
    margin-top: auto;
    text-align-last: right;
    text-align: justify;
}
.intro_txt > p {
    line-height: 24px;
}

/* 실험 */

#inc01 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
#inc01 .group-clinic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#inc01 .group-clinic .tab-list {
    display: flex;
    justify-content: center;
    background-color: #f4f4f5;
    padding: 14px 8px;
    border-radius: 30px;
}
#inc01 .group-clinic .tab-item {
    cursor: pointer;
    height: auto;
}
#inc01 .group-clinic .tab-item .clinic__tit {
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(51,51,51,.4);
    transition: color 0.2s;
    will-change: color;
    padding: 10px 30px;
    border-radius: 30px;
}
#inc01 .group-clinic .tab-item.on .clinic__tit {
    color: #FBFBFD;
    background-color: #0C0C0E;
}

#inc01 .group-clinic .fl-r {
    flex: 0 0 200px;
    min-width: 200px;
}

#inc01 .group-clinic .fl-r {
    flex: 0 0 500px;
    width: 1280px;
    height: auto;
    position: relative;
}

#inc01 .group-clinic .fl-r .tab-con {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s,visibility 0.1s;
}
#inc01 .group-clinic .fl-r .tab-con.view {
    opacity: 1;
    visibility: visible;
}
#inc01 .group-clinic .fl-r .tab-con img {

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease,visibility 0.4s;
}
#inc01 .group-clinic .fl-r .tab-con.view img {
    opacity: 1;
    visibility: visible;
}
.tab_wrap {
    display: block;
    width: 1280px;
}

.tab_flex {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 80px;
}
.tab_title {
    display: flex;
    gap: 32px;
}
.tab_hd_title {
    width: 95px;
}
.tab_hd_title > h1 {
    font-size: 80px;
    letter-spacing: -5px;
}
.tab_sub_hd {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.tab_sub_hd > h3 {
    font-size: 24px;
}
.tab_sub_hd > span {
    font-weight: 300;
    margin-top: 4px;
}
.tab_color {
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 220px;
    max-width: 220px;
    box-sizing: border-box;
    margin-top: 24px;
}

.tab_title_img > img {
    width: 400px;
}
.tab_ul {
    display: flex;
    gap: 10px;
    margin-top: auto;
}
.tab_ul > li > img {
    width: 214px;
}

.one_content_wrap {
    display: block;
    background: #ececec;
    background: linear-gradient(180deg, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 0.23) 100%);
    width: 100%;
    border-radius: 30px;
    margin-top: 180px;
}
.one_content {
    width: 1030px;
    margin: 0 auto;
    padding-top: 110px;
}
.one_content > img {
    width: 100%;
}
.pro_details_wrap{margin-top: 100px;}
.pro_d_title{margin-bottom: 35px;}
.pro_d_title > h1 {
    font-size: 80px;
    letter-spacing: -5px;
}
.pro_list > ul {
    display: flex;
    justify-content: space-between;
}
.pro_image {
    width: 310px;
    height: 435px;
    border-radius: 30px;
    background-color: darkgray;
}
.pro_img_big{width: 620px;height: 435px;border-radius: 30px;background-color: darkgray;}
.rapa_one {
    background-image: url("../img/ppt/01_2_pro_rapa.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.rapa_two{
background-image: url("../img/ppt/01_1_pro_rapa.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.rapa_three{background-image: url("../img/ppt/01_3_pro_rapa.jpg");
    background-size: 100%;
    background-repeat: no-repeat;}