@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2") format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2") format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2") format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2") format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2") format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    text-decoration: none;
    overflow-x: hidden;
    list-style: none;
    color: #333;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

.mro_wrap {
    display: block;
    width: 100%;
    background: linear-gradient(45deg, #DFE3EB 0%, #A5ABBA 100%);
    height: 100vh;
}
.mro_main {
    width: 1100px;
    margin: 80px auto 0;
}
.mro_main > img {
    width: 100%;
}
.mro_title_wrap {
    display: block;
    width: 100%;
}
.mro_title {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-block: 80px;
}
.mro_title > img {
    height: auto;
    max-width: 100%;
    display: block;
    flex-shrink: 0; 
    flex-grow: 0;width: 3.5%;
}

.mro_title > h1 {
    margin-inline: 10px 35px;
    font-size: 100px;
    font-weight: 800;
    flex-shrink: 0;  
    flex-grow: 0;
    white-space: nowrap; 
}

.mro_title > p {
    font-size: 14px;
    line-height: 32px;
    margin: 0;
    flex-shrink: 1;     
    flex-grow: 1;       
    min-width: 0;       
    white-space: normal; 
    overflow-wrap: break-word;
    word-break: break-word;
}
.design_guide {
    width: 1280px;
    margin: 0 auto;
}
.design_guide > h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.design_guide > img {
    width: 100%;
    height: auto;
    display: block;
}
.side_container{background: linear-gradient(180deg, #f1f3fa, #fff);
display: block;width: 100%;}
.mro_info_wrap{display: flex;width: 1280px;margin: 0 auto;padding-top: 130px;}
.right_content{ display: flex;
  flex-direction: column;

  width: calc(100% - 250px);} 
.right_content>img{width: 97%;height: auto;display: block;}
 .left_content>img{  width: auto;
  height: auto;
  max-height: 100%;
  display: block;}